<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpVWkfDdS-WlKX90muAymYxeOgvM2vBWU</string>
	<key>GCM_SENDER_ID</key>
	<string>132653532617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>utkarsh.UtilityHub</string>
	<key>PROJECT_ID</key>
	<string>utilityhub-69c6b</string>
	<key>STORAGE_BUCKET</key>
	<string>utilityhub-69c6b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132653532617:ios:09bd3f32ae514cdd98d418</string>
</dict>
</plist>